:root {
  --default-font-weight: 300;
  --bold: 400;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: var(--default-font-weight);
}

a {
  text-decoration: none;
}

h1 {
  font-weight: var(--bold);
}
